.coment_images {
  width: 590px;
  /* height: 400px; */
  object-fit: cover;
  /* margin-top: 6%; */
}
.container_of_left_side {
  display: flex;
  width: 60%;
  background-color: hwb(15 93% 5%);
  height: 500px;
}
.main_container {
  display: flex;
}
.conteiner_of_right_side {
  margin-left: 1.5%;
  margin-top: 6%;
  text-align: center;
}
.conteiner_of_right_side > h4 {
  margin-top: 5%;
  font-size: 15px;
}
.conteiner_of_right_side > h3 {
  margin-top: 20%;
}
