.card_container {
  width: 100%;
  height: 100%;
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.qwerty {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto !important;
}

.card {
  min-width: 600px;
  max-width: 500px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid white;
  position: relative;
  font-family: "Roboto", sans-serif;
}

.card_img {
  width: 600px;
  height: 500px;
  border-radius: 15px;
}

.card_body {
  width: 100%;
  height: 100%;
  top: 0;
  right: 100%;
  position: absolute;
  backdrop-filter: blur(2px);
  border-radius: 15px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 3s;
  min-width: 35%;
}

.card:hover .card_body {
  right: 0;
  background: rgba(0, 0, 0, 0.334);
}

.card_title {
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 23px;
  font-weight: 500;
}

.card_sub_title {
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 300;
}

.card_info {
  text-align: center;
  font-size: 10px;
  font-weight: 300;
}

.product-total p {
  opacity: 0.5;
}

.product-total h3 {
  font-size: 18px;
}

.product-total {
  width: 60%;
  height: 60%;
}
.product-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.product-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.rate {
  width: 100%;
  height: 100%;
  float: left;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
  font-size: 23px;
  color: #ccc;
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label,
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #f5c51d;
}

.Rating {
  margin-right: 8px;
  width: 100%;
  height: 100%;
}

.qwerty {
  padding: 1px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.449);
}

.btnOfCard_BOOKING {
  color: white !important;
  padding: 2 2 2 2 !important;
}

@media all and (max-width: 430px) {
  .card_container {
    width: 100%;
  }
  .card_img {
    width: 260px;
    height: 330px;
    border-radius: 15px;
  }
  .card_title {
    font-size: 10px;
  }
  .card_sub_title {
    font-size: 10px;
  }
  .product-total h3,
  p {
    font-size: 15px;
  }
  .product-btns {
    width: 100%;
    height: 100%;
  }
  .btnOfCard_BOOKING {
    font-size: 8px;
  }
}

@media all and (max-width: 310px) {
  .card_container {
    width: 100%;
  }

  .card_img {
    width: 230px;
    height: 300px;
    border-radius: 15px;
  }
  .product-total h3,
  p {
    font-size: 10px;
  }
  .btnOfCard_BOOKING {
    font-size: 8px;
  }
}
