@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

body {
  background-color: #e3f1fc;
}
.aboutUs {
  margin-top: 50px;
  text-align: center;
}

.aboutCard {
  margin: 10px 10px 10px 10px;
  width: 300px;
  height: 400px;
  overflow: hidden;
  transition: ease 3s;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 5px;
  margin: 20px;
}

.aboutCard:hover {
  transform: scale(0.9);
}

.aboutCard img {
  transition: ease 5s ease;
}

.aboutCard:hover img {
  transform: scale(1.35);
}

.aboutCard:hover .textkv {
  position: absolute;
  bottom: 0;
  opacity: 1;
}

.textkv {
  opacity: 0;
  transition: ease 3s ease;
  color: white;
  font: italic 1.2em "Fira Sans", serif;
  padding: 1.25rem;
  z-index: 30;
}

.aboutCard::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 20;
  display: none;
}

.aboutCard:hover:after {
  display: block;
}

.auCards {
  display: flex;
  justify-content: space-around;
  max-width: 1100px;
  margin: 50px auto;
  flex-wrap: wrap;
}

.logoAbout {
  margin-top: 100px;
  cursor: pointer;
  width: 100px;
  transition: 1s;
}

.logoAbout:hover {
  transform: translateY(-20px);
}

.partnerAbout {
  margin-top: 10%;
}

.partner {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  flex-wrap: wrap;
}

.map {
  margin-top: 100px;
}

.aboutUs_h4 {
  font-size: 40px;
  color: rgb(24, 52, 90);
  margin-bottom: 30px;
}
.aboutUs_p {
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 20px;
  color: rgb(24, 52, 90);
  font-style: unset;
}
