.searchsarcontainer {
  height: 10rem;
  margin: 3rem 0 0 0;
}

.searchBar {
  transition-property: line inherit;
  transition-duration: 3s;
  background-color: #031f3d;
  width: 80%;
  margin: auto;
  height: 8rem;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
