body {
  margin: 0 !important;
  padding: 0 !important;
}

* {
  margin: 0;
  padding: 0;
}

.nav__linkMain {
  width: 15%;
  display: flex;
  justify-content: center;
  transition: 1s;
}

.nav__linkMain:hover {
  transform: translateY(-5px);
}

.nav__linkMain1 {
  text-decoration: none !important;
}

.nav__container {
  background-color: rgba(0, 0, 0, 0.694) !important;
  color: #e9ff5c !important;
}

.nav__icon {
  border-radius: 100%;
  margin-right: 10px;
  object-fit: cover;
}

.nav__logo:hover {
  color: #e9ff5c;
}

.nav__burger-adaptiv {
  background-color: rgba(0, 0, 0, 0.686) !important;
}

.nav__some-BOX {
  display: flex;
  justify-content: center;
}

.nav__btn-some {
  margin: 0;
  font-size: 18px;
  color: #e9ff5c !important;
  border: none;
  background: transparent !important;
}

.nav__btn-some:hover {
  color: white !important;
}

.nav__btn-some:focus {
  color: white !important;
}

.btnOfNavMenu {
  color: #030301 !important;
}

.nav-menu_list {
  background-color: rgba(0, 0, 0, 0.686) !important;
}

.nav__link-oun {
  text-decoration: none !important;
  color: #e9ff5c !important;
}

.nav__linkMain {
  text-decoration: none !important;
  width: 20%;
}

.nav__text {
  color: #e9ff5c !important;
}

.login_btn-in-nav-menu {
  display: none !important;
}

@media all and (max-width: 1201px) {
  .nav__linkMain {
    text-decoration: none !important;
    width: 22%;
    font-size: 15px;
  }
}

@media all and (max-width: 1120px) {
  .nav__linkMain {
    text-decoration: none !important;
    width: 23%;
    font-size: 15px;
  }
}

@media all and (max-width: 1085px) {
  .nav__linkMain {
    text-decoration: none !important;
    width: 25%;
    font-size: 14px;
  }
}

@media all and (max-width: 1053px) {
  .nav__linkMain {
    text-decoration: none !important;
    width: 25%;
    font-size: 15px;
  }
}

@media all and (max-width: 1023px) {
  .nav__linkMain {
    text-decoration: none !important;
    font-size: 15px;
  }
  .nav__btn-some {
    font-size: 15px;
  }
}

@media all and (max-width: 1013px) {
  .nav__btn-some {
    font-size: 14px;
  }
}

@media all and (max-width: 1009px) {
  .nav__btn-some {
    font-size: 13px;
  }
}

@media all and (max-width: 1006px) {
  .nav__btn-some {
    font-size: 12px;
  }
}

@media all and (max-width: 1002px) {
  .nav__btn-some {
    font-size: 11px;
  }
}

@media all and (max-width: 999px) {
  .nav__btn-some {
    font-size: 10px;
  }
}

@media all and (max-width: 995px) {
  .nav__btn-some {
    font-size: 9px;
  }
}

@media all and (max-width: 899px) {
  .login__nav {
    display: none;
  }

  .login_btn-in-nav-menu {
    display: block !important;
  }

  .nav__icon {
    display: none;
  }

  .nav__linkMain {
    display: none;
  }

  .nav__linkMain {
    display: block;
  }
}
