body {
  margin: 0 !important;
  padding: 0 !important;
}

* {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: rgba(0, 0, 0, 0.822) !important;
}

.nav__container {
  background-color: rgba(0, 0, 0, 0.79) !important;
  color: #e9ff5c !important;
}

.nav__tool-bar {
}

.nav__icon {
}

.nav__logo {
}

.nav__block-adaptiv {
}

.nav__btn-adaptiv {
}

.nav__block_links-adaptiv {
}

.nav__burger-adaptiv {
}

.nav__some-icon-adaptiv {
}

.nav__logo-adaptiv {
}

.nav__some-BOX {
}

.nav__btn-some {
}

.nav__settings-menu {
}

.nav__menu_block {
}

.nav-menu__btn {
}

.nav-avatar {
}

.nav__menu {
}

.nav-menu_list {
  background-color: black !important;
}

.nav-menu_item {
}

.nav__link-oun {
  text-decoration: none !important;
  color: #e9ff5c !important;
}

.nav__linkMain {
  text-decoration: none !important;
  color: #e9ff5c !important;
}
