body {
  margin: 0 !important;
  padding: 0 !important;
}

* {
  margin: 0;
  padding: 0;
}

.nav {
  /* background-color:  rgba(0, 0, 0, 0.216) !important; */
}

.nav__linkMain {
  width: 15%;
  display: flex;
  justify-content: center;
  transition: 1s;
}

.nav__linkMain:hover {
  transform: translateY(-5px);
}

.nav__linkMain1 {
  text-decoration: none !important;
}

.nav__container {
  background-color: rgba(0, 0, 0, 0.694) !important;
  color: #e9ff5c !important;
}

.nav__tool-bar {
}

.nav__icon {
  border-radius: 100%;
  margin-right: 10px;
  object-fit: cover;
}

.nav__logo {
}

.nav__block-adaptiv {
}

.nav__btn-adaptiv {
}

.nav__block_links-adaptiv {
}

.nav__burger-adaptiv {
  background-color: rgba(0, 0, 0, 0.686) !important;
}

.nav__some-icon-adaptiv {
}

.nav__logo-adaptiv {
}

.nav__some-BOX {
  display: flex;
  justify-content: center;
}

.nav__btn-some {
  color: #e9ff5c !important;
}
.nav__btn-some:hover {
  color: white !important;
}
.nav__btn-some:focus {
  color: white !important;
}

.nav__settings-menu {
}

.nav__menu_block {
}

.nav-menu__btn {
}

.nav-avatar {
}

.nav__menu {
}

.btnOfNavMenu {
  color: #030301 !important;
}

.nav-menu_list {
  background-color: rgba(0, 0, 0, 0.686) !important;
}

.nav-menu_item {
}

.nav__link-oun {
  text-decoration: none !important;
  color: #e9ff5c !important;
}

.nav__linkMain {
  text-decoration: none !important;
}

.nav__text {
  color: #e9ff5c !important;
}

.login_btn-in-nav-menu {
  display: none !important;
}

@media all and (max-width: 899px) {
  .login__nav {
    display: none;
  }

  .login_btn-in-nav-menu {
    display: block !important;
  }
  .nav__icon {
    display: none;
  }
}
