.video_bg {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}
.main_register_container {
  position: relative !important ;
}
.conteiner_of_form {
  top: 20%;
  position: absolute !important;
}

.form_of_inputs {
}
.h1_of_inputs {
  color: white;
}
.inputs_in_form {
}
.button_of_register {
  color: black !important;
}
